<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AlfaGestión - Estudiante{% endblock title %}</title>
</head>
<body>
    <nav>
        <ul>
                    
    </nav>

    {% if messages %}
        <div>
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <main>
        {% block content %} {% endblock content %}
    </main>
</body>
</html>